body{
  background-color: gainsboro;
}
.container{
  margin-top: 1em;
}
.paper{
  padding: 1em;
}
.form{
  display: flex;
  justify-content: center;
}
.cards{
  margin-top: 1em;
}
.list{
  margin-top: 1em;
}